In [3]:
!pip install finance-datareader

Requirement already satisfied: finance-datareader in d:\anaconda3\lib\site-packages (0.9.33)
Requirement already satisfied: tqdm in d:\anaconda3\lib\site-packages (from finance-datareader) (4.62.3)
Requirement already satisfied: pandas>=0.19.2 in d:\anaconda3\lib\site-packages (from finance-datareader) (1.3.4)
Requirement already satisfied: requests-file in d:\anaconda3\lib\site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: requests>=2.3.0 in d:\anaconda3\lib\site-packages (from finance-datareader) (2.26.0)
Requirement already satisfied: lxml in d:\anaconda3\lib\site-packages (from finance-datareader) (4.6.3)
Requirement already satisfied: numpy>=1.17.3 in d:\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in d:\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2021.3)
Requirement already satisfied: six>=1.5 in d:\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in d:\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.0.4)
Requirement already satisfied: colorama in d:\anaconda3\lib\site-packages (from tqdm->finance-datareader) (0.4.4)

In [4]:
import FinanceDataReader as fdr

In [5]:
stock_list = fdr.StockListing('KRX').dropna()

In [6]:
stock_list = stock_list.head(3)

In [7]:
stock_list

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시

In [8]:
import time
import pandas as pd

In [9]:
daily = pd.DataFrame()
for code, name in stock_list[['Symbol', 'Name']].values:
    print(code, name)
    date = '2022-04-27'
    ohlcv = fdr.DataReader(code, date, date)
    ohlcv['Code'] = code
    ohlcv['Name'] = name
    daily= pd.concat([daily, ohlcv])

060310 3S
095570 AJ네트웍스
006840 AK홀딩스

In [10]:
# [Pandas 기초] 데이터프레임 합치기(merge, join, concat)
# https://yganalyst.github.io/data_handling/Pd_12/

# Pandas(판다스) - FinanceDataReader을 사용해 주식 데이터를 dataframe으로 불러오기 
# https://blog.naver.com/PostView.naver?blogId=ji0eeeee&logNo=221527166066&parentCategoryNo=&categoryNo=11&viewDate=&isShowPopularPosts=true&from=search

# 열 추가, 값 수정, 데이터 합치기
# https://nalara12200.tistory.com/162 

# [python] 팬더스 데이터 프레임의 인덱스를 열로 변환하는 방법은 무엇입니까?
# http://daplus.net/python-%ED%8C%AC%EB%8D%94-%EB%8D%B0%EC%9D%B4%ED%84%B0-%ED%94%84%EB%A0%88%EC%9E%84%EC%9D%98-%EC%9D%B8%EB%8D%B1%EC%8A%A4%EB%A

In [11]:
daily

             Open   High    Low  Close  Volume    Change    Code    Name
Date
2022-04-27   3260   3310   3205   3250  229769 -0.018127  060310      3S
2022-04-27   6590   6660   6400   6660   47133  0.000000  095570  AJ네트웍스
2022-04-27  21600  21600  21100  21300   39962 -0.036199  006840   AK홀딩스

In [12]:
daily['Date'] = daily.index

In [13]:
daily

,Open,High,Low,Close,Volume,Change,Code,Name,Date
Date,,,,,,,,,
2022-04-27,3260,3310,3205,3250,229769,-0.018127,060310,3S,2022-04-27
2022-04-27,6590,6660,6400,6660,47133,0.000000,095570,AJ네트웍스,2022-04-27
2022-04-27,21600,21600,21100,21300,39962,-0.036199,006840,AK홀딩스,2022-04-27

In [14]:
import pandas as pd
import numpy as np
import time, json, requests 
from datetime import datetime, timedelta, date

import pymysql # python에서 mysql을 사용하는 패키지

import sqlalchemy # sql 접근 및 관리를 도와주는 패키지
from sqlalchemy import create_engine

In [15]:
server = '127.0.0.1' # local server
user = 'root' # user name
password = 'js0815' # 개인 password
db = '16010980_my1st_db' # DB 이름

# sqlalchemy의 create_engine을 이용해 DB 연결
engine = create_engine('mysql+pymysql://{}:{}@{}/{}?charset=utf8'.format(user,password,server,db))

In [16]:
daily.to_sql(name='kospi_adjusted1',con=engine,if_exists='append',index=False,
             dtype = { # sql에 저장할 때, 데이터 유형도 설정할 수 있다.

                 'Open' : sqlalchemy.types.BIGINT(),
                 'High' : sqlalchemy.types.BIGINT(),
                 'Low' : sqlalchemy.types.BIGINT(),
                 'Close' : sqlalchemy.types.BIGINT(),
                 'Volume' : sqlalchemy.types.BIGINT(),
                 'Change' : sqlalchemy.types.FLOAT(),
                 'Code' : sqlalchemy.types.VARCHAR(10),
                 'Name' : sqlalchemy.types.TEXT(),
                 'Date' : sqlalchemy.types.DATE(),
              
             }
            )

In [17]:
# DB 접속 해제
engine.dispose()
#cur.close()
#conn.close()